.split {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
}

.repl-container,
.kb-container {
  padding: 20px;
  overflow-y: auto;
  background-color: var(--background-color);
}

.gutter {
  background-color: var(--border-color);
  cursor: col-resize;
}
